.jumbo-header {
  margin-top: 15px;
  background-image: url(https://cdn.pixabay.com/photo/2015/09/26/18/56/desert-959524_1280.jpg);
  background-size: cover;
  width: 100%;
  height:400px;
  color: white;
}

.footer {
  text-align: center;
  padding: 40px;
}

img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

body {

}
#image{
  width: 1200px;
  height:400px;
}

#image2{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#slogan {
  margin-bottom: 15px;
}

#directions {
  margin-top: 50px;
}

#ok {
  display: none;
}

#notok {
  display: none;
}

#survey-box {
  background-color: #e9ecef;
}

#survey {
  margin: 20px;
  padding: 20px;
}

#sub-button {
  margin-top: 20px;
  margin left: 30%;
}
